body {
    margin-top: 0;
    background-color: #fff;
    -webkit-text-stroke: 0px!important;
    -webkit-font-smoothing: antialiased !important;   
}

p {
	font-size: 14px !important;
}



.center-element{
	margin: auto;
}

.custom-padding-top{
	padding-top: 45px;
}

.hello-statement{
	font-size: 50px;
}

.secondary-statement{
	font-size: 25px;
}

//footer

.footer{
	background-color: black;
	//height: 200px;

	.footer-padding{
		padding: 55px;
	}

	p,h1,h2,h3,h4,h5,h6,span {
		color: #fff;
	}

	.left-info{
		margin-top: 10px;
	}

	.right-info{
		padding-left: 25px;
	}
}

a.follow-user:hover {
	color: #fff;
	text-decoration: none;
}

a.follow-user:visited{
	color: none;
	text-decoration: none;
}

a.follow-user{
	color: #fff;
}

.inline-block-style{
	display: inline-block;
}

.email-address{
	font-size:12px !important;
}

.jumbotron{
	padding-top: 20px !important;
}